{% extends 'base.html' %}

{% block title %}
    <title>TEST Gargine Gallery shop - Landing</title>
{% endblock %}


{% block body %}
   <main>
<div class="bd-example m-0 border-0">

        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
       <br>
      <!-- Marketing messaging and featurettes
         ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">
         <!-- Three columns of text below the carousel -->
         <div class="row">
            <div class="col-lg-4">
               <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
               </svg>
               <h2 class="fw-normal">заголовок</h2>
               <p>Название: Всегда помните, что компьютер не обладает интеллектом, но он приобретает искусственный интеллект через три основных функциональных элемента: способность анализировать, способность сочинять и логические рассуждения.</p>
               <p><a class="btn btn-secondary" href="#">Cсылка</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
               <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
               </svg>
               <h2 class="fw-normal">Другой адрес</h2>
                <p>Если мы хотим использовать умный компьютер для обработки арабского языка, мы сталкиваемся с большой проблемой, особенно потому, что наш язык характеризуется сплоченностью и взаимосвязью своих систем. Однако искусственный интеллект позволяет нам получить четыре типа. обработки, а именно: фонологическая обработка, морфологическая обработка, а также синтаксическая и семантическая обработка.</p>
                <p><a class="btn btn-secondary" href="#">Ссылка2</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
               <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
               </svg>
               <h2 class="fw-normal">Третий адрес для подтверждения информации</h2>
               <p>Благодаря исследованиям и технологиям искусственного интеллекта мы смогли перейти от стадии взаимодействия с физическим к этапу работы с логическим. Этот переход положительно отразился на том, как люди обращаются со своими живыми языками, а это означает, что так оно и есть. должны позитивно отразиться на том, как мы обращаемся с нашим арабским языком.</p>
               <p><a class="btn btn-secondary" href="#">Посмотреть детали</a></p>
            </div>
            <!-- /.col-lg-4 -->
         </div>
         <!-- /.row -->
         <!-- START THE FEATURETTES -->
         <hr class="featurette-divider">
         <div class="row featurette">
            <div class="col-md-7">
               <h2 class="featurette-heading fw-normal lh-1"> Первое почетное звание. <span class="text-body-secondary">тра-та-та </span></h2>
              <p class="lead">Лицо человека — сложная и очень самобытная часть тела. Фактически, это одна из самых сложных доступных нам сигнальных систем; В его состав входит более 40 мышц, структурно и функционально независимых, благодаря чему каждая из них может работать независимо от других. Это один из самых мощных индикаторов эмоций.</p>
            </div>
            <div class="col-md-5">
               <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                  <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
               </svg>
            </div>
         </div>
         <hr class="featurette-divider">
         <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">О да, это хорошо. <span class="text-body-вторичный"> Посмотрите сами. </span></h2>
                <p class="lead">Когда мы смеемся или плачем, мы показываем свои эмоции, позволяя другим заглянуть в наши мысли, поскольку они «читают» наши лица на основе изменений в ключевых компонентах лица, таких как глаза, брови, веки, нос и губы.</p>
            </div>
            <div class="col-md-5 order-md-1">
               <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                  <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
               </svg>
            </div>
         </div>
         <hr class="featurette-divider">
         <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Наконец, это. <span class="text-body-вторичный"> Что-то. </span></h2>
                <p class="lead">Все мышцы нашего тела поддерживаются нервами, которые соединяют все части тела со спинным и головным мозгом. Эта нервная связь является двунаправленной, то есть нерв вызывает мышечные сокращения на основе сигналов мозга и в то же время отправляет в мозг информацию о состоянии мышц.</p>        </div>
            <div class="col-md-5">
               <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                  <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
               </svg>
            </div>
         </div>
         <!-- /END THE FEATURETTES -->
      </div>
      <!-- /.container -->
      <!-- FOOTER -->
   </main>

{% endblock %}